/* Pesos (Grosor) */
:root{
    --font-family: "Roboto", Arial;

    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;
  
    --font-size-xs: 12px; /* Extra pequeño */
    --font-size-sm: 14px; /* Pequeño */
    --font-size-md: 16px; /* Mediano, cuerpo principal */
    --font-size-lg: 20px; /* Grande, subtítulos */
    --font-size-xl: 24px; /* Extra grande, encabezados */
    --font-size-xxl: 32px; /* Título principal */
    --font-size-xxxl: 40px; /* Muy grande, para héroes o portadas */
    --font-size-4xl: 56px;
  
    --line-height-xs: 1.2;
    --line-height-sm: 1.4;
    --line-height-md: 1.5;
    --line-height-lg: 1.6;

    --max-width-8: 800px;
    --max-width-9: 900px;
    --max-width-1: 1000px;
    --max-width-11: 1100px;
    --max-width-12: 1200px;
    --max-width-14: 1400px;
    ---max-width-16: 1600px;
    --max-width-15: 1500px;

    --nav-padding: 30px;

    --section-padding: 80px 0px;

    --gap-titulo-conjunto-section: 60px;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family);
    /* border: 1px solid rebeccapurple; */
}

a{
    color: inherit;
}

body{
    background: white;
}






/* ---------------------- */
/* nav */
/* ---------------------- */

.header_head{
    display: flex;
    background-color: black;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    height: 80px;
    width: 100%;
}

.logo{
    height: 200px;
}

.navbar{
    display: flex;
    color: white;
}

.navbar_list{
    display: flex;
    gap: 60px;
}

.item_navbar_list{
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.px;
}






/* ---------------------- */
/* hero */
/* ---------------------- */

#hero {
    display: flex;
    background-image: url('/img_hero/video_inicio.mp4'); /* Cambia la ruta por la ubicación de tu imagen */
    background-size: cover;         /* Ajusta la imagen para cubrir todo el área de la sección */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* Evita que la imagen se repita */
    height: 100vh;                  
}

.hero_info{
    display: flex;
    flex-direction: column;
    padding: 200px 100px;
    gap: 30px;
}

.titulo_hero{
    color: white;
    font-size: 56px;
    width: 55%;
    font-weight: var(--font-weight-medium);
}

.texto_hero{
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
}

.conjunto_btn_hero{
    display: flex;
    gap: 30px;
}

.btn_hero{
    color: white;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
}






/* ---------------------- */
/* seccion_productos_inicio */
/* ---------------------- */

/*.seccion_productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--section-padding);
    gap: var(--gap-titulo-conjunto-section);
}

.titulo_seccion_productos{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-medium);
    max-width: var(---max-width-16);
}

.conjunto_productos{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
    max-width: var(--max-width-15);
}

.link_producto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
    height: fit-content;
    padding : 34px 48px 57px 48px;
    width: 26%;
}

.item_producto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imagen_producto{
    height: 415px;
}

.info_imagen_producto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.texto_producto{
    font-size: 32px;
    font-weight: var(--font-weight-medium);
}

.texto2_producto{
    font-size: 20px;
    font-weight: var(--font-weight-regular);
}

.llamado_producto{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn2{
    border: 1px solid rgb(0, 113, 227);
    background-color: rgb(0, 113, 227);
    border-radius: 980px;
    padding: 11px 21px;
    color: white;
    font-size: 17px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}

.btn1{
    color: rgb(52, 92, 255);
    font-size: 17px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}

.btn2:hover{
    background-color: rgb(60, 109, 244);
}

.btn1:hover{
    text-decoration: underline;
}*/

.seccion_productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-titulo-conjunto-section);
    padding: var(--section-padding);

}

.titulo_seccion_pro{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-medium);
    max-width: var(---max-width-16);
}

.conjunto_pro{
    display: flex;
    max-width: var(---max-width-16);
    width: 90%;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.link_pro{
    display: flex;
}

.item_pro{
    display: flex;
    flex-direction: column;
    max-width: var(---max-width-16);
    gap: 15px;
}

.imagen_pro{
    height: 500px;
    border-radius: 20px;
}

.info_imagen_pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
}

.info_imagen_pro{
    text-align: center;
}

.texto_pro{
    font-size: 30px;
}

.texto2_pro{
    font-size: 16px;
}

.llamado_pro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn2{
    border: 1px solid rgb(0, 113, 227);
    background-color: rgb(0, 113, 227);
    border-radius: 980px;
    padding: 11px 21px;
    color: white;
    font-size: 17px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}

.btn1{
    color: rgb(52, 92, 255);
    font-size: 17px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}

.btn2:hover{
    background-color: rgb(60, 109, 244);
}

.btn1:hover{
    text-decoration: underline;
}














/* ---------------------- */
/* seccion_soluciones */
/* ---------------------- */

.seccion_soluciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--section-padding);
    gap: var(--gap-titulo-conjunto-section);
}

.titulo_seccion_soluciones{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-medium);
}

.conjunto_soluciones{
    display: flex;
    max-width: var(---max-width-16);
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.entrenamiento{
    background-image: url(./img_productos/Captura\ de\ pantalla\ 2024-10-30\ a\ la\(s\)\ 16.03.17.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lesion{
    background-image: url(./img_productos/Captura\ de\ pantalla\ 2024-10-30\ a\ la\(s\)\ 16.35.26.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spa{
    background-image: url(./img_productos/Captura\ de\ pantalla\ 2024-10-30\ a\ la\(s\)\ 16.36.35.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.link_solucion{
    display: flex;
    border-radius: 20px;
    height: 48vh;
    width: 100%;
    justify-content: left;
    padding:  70px 50px;
    align-items: end;
    transition: transform 0.6s ease;

}

.item_solucion{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.info_imagen_solucion{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.texto_solucion, .boton_solucion{
    font-size: 22px;
    color: white;
    font-weight: var(--font-weight-light);
}

.texto2_solucion{
    font-weight: var(--font-weight-medium);
    letter-spacing: 0.6px;
}

.boton_solucion{
    border: 1px solid white;
    border-radius: 980px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.28);
    padding: 11px 21px;
    font-size: 17px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}

.link_solucion:hover{
    transform: scale(1.03);
}

















/* ---------------------- */
/* seccion_beneficios */
/* ---------------------- */

.seccion_beneficios{
    display: flex;
    justify-content: center;
    padding: var(--section-padding);
}

.container_beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width-12);
    gap: var(--gap-titulo-conjunto-section);
}

.top_beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.titulo_beneficios{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-medium);
    max-width: var(---max-width-16);
}

.subtitulo_beneficios{
    font-size: 40px;
    font-weight: var(--font-weight-regular);
}

.mid_beneficios{
    max-width: var(--max-width-1);
    width: 100%;
}

.bottom_beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.titulo_bottom_beneficios{
    font-size: 60px;
    margin-top: -84px;
    max-width: 800px;
    text-align: center;
}

.titulo_bottom_beneficios span{
    color: rgb(231, 133, 21);
}

.texto_bottom_beneficios{
    text-align: center;
    max-width: 60%;
    font-size: 22px;
    font-weight: var(--font-weight-medium);
}

.links_beneficios{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.link1_ben:hover{
    background-color: rgb(60, 109, 244);
}

.link2_ben:hover{
    text-decoration: underline;
}

.link1_ben, .link1_fun{
    border: 1px solid rgb(0, 113, 227);
    background-color: rgb(0, 113, 227);
    border-radius: 980px;
    padding: 14px 28px;
    color: white;
    font-size: 20px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}

.link2_ben{
    color: rgb(52, 92, 255);
    font-size: 20px;
    font-weight: var(--font-weight-light);
    letter-spacing: -0.374px;
}













/* ---------------------- */
/* seccion_beneficios */
/* ---------------------- */

.seccion_fun{
    display: flex;
    padding: var(--section-padding);
    justify-content: center;
    align-items: center;
}

.container_fun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width-1);
    gap: 40px;
}

.top_fun{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.titulo_fun{
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-medium);
    max-width: var(---max-width-16);
}

.mid_fun{
    width: 100%;
    border-radius: 20px;
}

.bottom_fun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.texto_bottom_fun{
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    font-weight: var(--font-weight-medium);
}

.subtitulo_bottom_fun{
    font-size: 36px;
    text-align: center;
    font-weight: var(--font-weight-semibold);
}

.links_fun{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}














/* ---------------------- */
/* preguntas frecuentes */
/* ---------------------- */

.faq-section {
    /* max-width: va r(--max-width); */
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    align-items: center;
    gap: 30px;
    
}

.titulo_faq{
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-medium);
}

.conjunto_faq{
    display: flex;
    flex-direction: column;
    width: 98%;
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    padding: 32px;
    display: flex;
    justify-content: space-between; /* Coloca el texto y el icono a los lados */
    align-items: center;
    background-color: white;
    margin: 0px auto;
}

.faq{
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
}
  
  /* Ocultar el checkbox */
  .faq-checkbox {
    display: none;
  }
  
  /* Estilos para el icono "+" en FAQ */
  .plus_faq {
    color: black;
    transition: transform 0.3s;
  }
  
  /* Rotación del ícono al abrir la pregunta */
  .faq-checkbox:checked + .faq-question .plus_faq {
    transform: rotate(45deg); /* Cambia de "+" a "x" al abrir */
  }
  
  /* Estilos para la respuesta en FAQ (oculta por defecto) */
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 34px;
    border-bottom: 1px solid rgb(0, 113, 227); /* Agregar borde debajo de la respuesta */
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
  
}
  
  /* Mostrar respuesta cuando el checkbox está marcado */
  .faq-checkbox:checked + .faq-question + .faq-answer {
    max-height: 200px; /* Ajusta la altura máxima según el contenido */
    padding-top: 10px;
    padding-bottom: 30px;
  }
  






 
/* ---------------------- */
/* carrusel */
/* ---------------------- */

/* Contenedor principal */

.carousel-container {
    overflow: hidden;
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: var(--section-padding);
    justify-content: center;
    flex-direction: column;
    gap: 60px;
  }

  .titulo_carousel{
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-medium);
  }
  
  /* Carrusel de imágenes */
  .carousel-track {
    display: flex;
    animation: slide 24s linear infinite alternate;
    width: calc(200px * 10); 
    gap: 120px;
    padding: 0px 100px;
  }
  
  .carousel-track img {
    height: 120px; 
    width: 120px;
    object-fit: contain;
  }
  
  /* Animación bidireccional */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 2)); /* Desplaza hasta la mitad del total para mostrar las 10 imágenes */
    }
  }

  .tiempo_uso_car{
    font-size: 22px;
    font-weight: var(--font-weight-regular);
  }






/* ---------------------- */
/* facil y seguro de usar */
/* ---------------------- */

/* .seccion_uso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-titulo-conjunto-section);
    padding: var(--section-padding);
}

.titulo_seccion_uso{
    font-size: 40px;
}

.conjunto_uso{
    display: flex;
    gap: 10px;
    max-width: var(--max-width);
    height: 50vh;
}

.item_uso{
    background-image: url(./img_facil_uso/336342941_926611245038363_5024300013961332235_n.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */



/* seccion famosos */

.seccion_fam_uso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-titulo-conjunto-section);
    padding: var(--section-padding);
}

.titulo_fam{
    font-size: 40px;
}

.container_fam{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.fam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.imagen_fam{
    height: 300px;
    border-radius: 16px;
}

.info_fam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 80%;
    text-align: center;
}



/* --------------------- */
/* --------footer ------- */
/* ----------------------- */

footer{
    background-color: black;
    height: fit-content;
}

.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(---max-width-16);
    gap: 100px;
    margin: 0 auto;
}

.redes_foot{
    display: flex;
    align-items: center;
    gap: 40px;
}

.tam_foot{
    height: 80px;
}

.logo_foot{
    height: 200px;
}


